@import "../../../styles/mixin";
.title {
  @include css-lock(2, 5, 47, 96);
  // @include css-lock(1.3, 1.5, 47, 96, line-height);
}

.image {
  display: block;
  position: relative;
  width: 53.125%;
  height: 74.81%;
  margin: 0 8% 0 auto;
  -webkit-box-shadow: 0 80px 140px -40px rgb(0 0 0 / 60%);
  box-shadow: 0 80px 140px -40px rgb(0 0 0 / 60%);
}