@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Jost', sans-serif;
  color: #F9FAFB;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.background-gradient {
  background: linear-gradient(77deg, #131A24 0%, #2B323C 100%) no-repeat fixed;
  z-index: -100;
}

.default-screen-height {
  height: calc(100vh - 72px);
  @media (min-width: 640px) {
    height: calc(100vh - 116px);
  }
}