@import "mixin";
.h1 {
  @include css-lock(1.56, 3, 70, 100);
  @include css-lock(1.7, 3.6, 70, 100, line-height)
}

.image {
  width: 200px;
  height: 200px;
  @media(min-width: 768px) {
    width: auto;
    height: auto;
  }
}