.h1 {
  font-size: 25px;
  //line-height: 49px;
  @media(min-width: 640px) {
    font-size: calc(2.7901785714285716vw + 7.142857142857142px);
    line-height:calc(2.7901785714285716vw + 10px );
  }

  @media(min-width: 1536px) {
    font-size: 50px;
    line-height: 50px;
  }

}

.image {
  width: 200px;
  height: 200px;
  @media(min-width: 768px) {
    width: auto;
    height: auto;
  }
}